/* Defining external font and location. */
@font-face {
  font-family: OpenSansReg;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: OpenSansBold;
  src: url("../fonts/OpenSans-Bold.ttf");
}

/* General styling for body, headings, sections. */

html,
body {
  margin: 0;
  color: white;
  font-family: OpenSansReg, Helvetica, sans-serif;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
}

h1 {
  color: #bfa84b;
}

section:nth-child(even),
#history,
#scholarships {
  background: #2e3036;
}

section:nth-child(odd) {
  background: #37393f;
}

section {
  padding: 3em 15%;
  scroll-margin-top: 72px;
}

section a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

section a:hover {
  text-decoration: underline;
  color: #bfa84b;
}

/* Nav bar styling */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  background-color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  height: 72px;
}

#logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 7.5em;
  transform: translate(-50%, -50%);
}

#logo img {
  height: 35px;
  width: 35px;
}

nav a {
  color: white;
  text-decoration: none;
}

a:hover,
.active,
nav a:hover {
  color: #bfa84b;
}

.wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
}

ul {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

ul a:hover {
  text-decoration: none;
}

ul li {
  display: inline-block;
  padding: 2em 1em;
}

/* Scrollbar styling. */

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #cdb96a;
}

::-webkit-scrollbar-track {
  background: #000000;
}

.scroller {
  scrollbar-color: #000000 #cdb96a;
  scrollbar-width: thin;
}

/* Hero video styling. */
#intro {
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
}

/* Carousel styling */

.mySlides {
  display: none;
}

section img {
  width: 100%;
  height: 450px;
  vertical-align: middle;
  object-fit: cover;
}

.slideshow-container {
  height: 450px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0 25px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  color: #bfa84b;
}

.indicator {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%);
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.indicator .active,
.dot:hover {
  background-color: #bfa84b;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* ----------------------------------------------------------------------------------------- */

/* Specs section styling */

.specs-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2.5em;
}

.specs-image {
  display: flex;
  align-items: center;
}

.specs-image img {
  height: 300px;
}

.specs-text {
  align-items: center;
  padding-top: 1em;
}

.specs-text p {
  margin-top: 1em;
}

/* Tech section styling */

.tech-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2.5em;
}

.tech-image {
  display: flex;
  align-items: center;
}

.tech-image img {
  height: 100px;
}

.tech-text {
  align-items: center;
}

.tech-text p {
  margin-top: 1em;
}

/* Contact form styling in contac section */

form {
  display: flex;
  flex-direction: column;
}

label {
  padding: 1em 0 1em 0;
  font-weight: bold;
}

input,
textarea {
  background-color: #37393f;
  color: #ffffff;
  padding: 1em;
  border: none;
}

input:focus,
textarea:focus {
  outline-color: #bfa84b;
}

textarea {
  margin-bottom: 1em;
  height: 10em;
}

.switch--checked .switch__control {
  background-color: red;
  border-color: red;
}

input[type="submit"] {
  color: #000000;
  font-weight: bold;
  background-color: #bfa84b;
  cursor: pointer;
  width: 10em;
  margin: auto;
  margin-top: 1em;
}

/* Back to top button positioning */

#button-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/* Footer section styling */

footer {
  text-align: center;
  background-color: #000000;
  padding: 1em;
}

/* --------------------------------------------------------------------------------------------------------- */

/* Hide hamburger icon on desktop view */

.wrapper .menu-icon {
  display: none;
}

.wrapper input[type="checkbox"] {
  display: none;
}

/* Media query by screen size. Styling for tablet view */

@media only screen and (max-width: 900px) {
  ul {
    margin: 0;
    padding: 0;
    transform: none;
  }

  /* Nav bar styling. Change to hamburger menu */

  .wrapper .menu-icon {
    display: block;
  }

  nav .links {
    display: inline-grid;
    position: fixed;
    background: #000000;
    width: 100%;
    left: -100%;
    margin-left: 0;
    top: 72px;
  }

  nav #show-menu:checked ~ .links {
    left: 0%;
  }

  ul li {
    padding: 2em 1em;
  }

  #logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Hamburger icon */
  .wrapper .menu-icon {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 2em;
    width: 70px;
    text-align: center;
  }

  /* Adjust section pading for tablet view */
  section {
    padding: 2em 1.5em;
  }

  /* Change Alumni page layout to one column layout */
  #specs-flex-container {
    display: flex;
    flex-direction: column;
  }

  #specs-flex-container img {
    height: 500px;
    padding-top: 1em;
  }

  /* Media query by screen size. Styling for mobile view */

  @media only screen and (max-width: 460px) {
    ul {
      position: absolute;
      transform: none;
      top: 72px;
    }

    /* Hero image styling */

    .hero-image {
      position: relative;
    }

    /* Reduce hero image height for mobile view VIDEO */
    .hero-image img,
    .slideshow-container {
      height: 75vh;
    }

    /* Change grid layouts to one column layout */
    .specs-grid-container,
    .tech-grid-container {
      display: flex;
      flex-direction: column;
    }

    .tech-grid-container img {
      padding-top: 1em;
    }

    .grid-item {
      margin-bottom: 1em;
    }

    /* Adjust section pading for mobile view */
    section {
      padding: 1.5em;
    }

    h1 {
      padding-top: 0;
    }

    /* Adjust alumni page images height for mobile view */
    #specs-flex-container img {
      height: 250px;
    }
  }
}
